body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

.container {
  height: 100vh;
}

.box {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
